.inspiration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;
}

.inspiration h3 {
    margin: auto;
    padding: 40px;
    font-size: 75px;
}

.inspiration-text {
    margin-left: 200px;
    margin-right:200px;
    text-align: center;
    background-color:RGBA(236,225,201,0.56);
    padding:30px;
    border-radius:40px;
}

.inspiration-photo-wheel {
    width: 40%;
    margin: auto;
}